{% extends 'form/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <legend class="border-bottom mb-4">Log In</legend>
    {% if messages %}
        {% for message in messages %}
            <div>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="form-group pt-2">
            <button class="btn btn-outline-info" type="submit">Log In</button>
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href={% url 'login' %}>Sign In</a>
            </small>
        </div>
    </form>

{% endblock %}